@import 'tailwindcss';
@theme {
  --color-main: #C4A27C;
  --color-main-hover: #A3825D;
}
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
body{
  font-family: "Chiron Hei HK", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
}
.customFont2{
  font-family: "Chiron Sung HK", sans-serif;
}
.customLlinkActive{
  color: #C4A27C;
}